.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color:
            white;
    z-index: 10000;
    border: 2px solid
    black;
    height: 30px;
    width: 30px;
}

html, body{
    height: 100%;
}

html, body, div{
    margin: 0;
}

#drawingSpace{
    width: 100%;
    height: 89%;
}

#buttons{
    z-index: 1;
    width: 100%;
    height: 10%;
    display: table;
}

#buttons > * {

    background-color:
            black;
    height: 40px;
    width: 90px;
    color: white;
    border: 2px white solid;
    text-align: center;
    display: table-cell;
}